<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="Site" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>Data Pharma</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="~/Content/tailwind.css" rel="stylesheet" />
</head>
<body class="bg-gray-100 text-gray-900">
    <form id="form1" runat="server">
        <div class="min-h-screen">
            <header class="bg-blue-500 text-white p-4">
                <h1 class="text-xl font-bold">Data Pharma Software</h1>
            </header>
            
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />

            <footer class="bg-gray-800 text-white text-center p-2 mt-8">
                &copy; 2025 - Data Pharma
            </footer>
        </div>
    </form>
</body>
</html>
